.teacher {
	padding: 64px;
}

.teacher>.hide {
	display: none;
}

.teacher-nav button {
	margin-right: 64px;
	margin-bottom: 64px;
	padding: 32px;
	font-size: 32px;
	background: #ddd;
	transition: 0.2s;
}

.teacher-nav button.selected {
	background: #06e0d5;
}

.information-text h1 {
	font-size: 32px;
}

.prompt {
    font-size: 32px;
}

.answer-display {
    padding: 64px;
	margin: 64px;
	background: #ddd;
	font-size: 32px;
}

.left-side {
    width: 80%;
    float: left;
}

.right-side {
    margin-left: 80%;
}

.student-answers-container {
    font-size: 12px;
}

.quiz-create button:hover {
	background: #ccc;
}

.quiz-list-item {
	background: #eee;
	padding: 64px;
	margin-bottom: 64px;
}

.quiz-list-item button {
	padding: 32px;
	margin-right: 32px;
	font-size: 16px;
}