.teacher {
	padding: 64px;
}

.teacher>.hide {
	display: none;
}

.teacher-nav button {
	margin-right: 64px;
	margin-bottom: 64px;
	padding: 32px;
	font-size: 32px;
	background: #ddd;
	transition: 0.2s;
}

.teacher-nav button.selected {
	background: #06e0d5;
}

.information-text h1 {
	font-size: 32px;
}

.quiz-create button:hover {
	background: #ccc;
}

.quiz-list-item {
	background: #eee;
	padding: 64px;
	margin-bottom: 64px;
}

.quiz-list-item button {
	padding: 32px;
	margin-right: 32px;
	font-size: 16px;
}

.quiz-question-card {
	background: #eee;
}

.card-prompt {
	display: flex;
	justify-content: normal;
	padding: 16px;
}

.question-type-selector {
	padding: 16px;
	display: flex;
	justify-content: normal;
}


.card-prompt input {
	margin-left: 20px;
	width: 100%;
}

.text-field {
	width: 100%;
	margin-left: 16px;
	font-size: 24px;
	outline: none;
}

[contenteditable=true]:empty:before{
	content: attr(placeholder);
	pointer-events: none;
	display: block;
	color: #aaa;
}

.text-field:focus {
	border-bottom: black 1px solid;
}

.question-type-dropdown {
	margin-left: 16px;
	font-size: 16px;
	padding: 4px;
}