.teacher {
	padding: 64px;
}

.teacher>.hide {
	display: none;
}

.teacher-nav button {
	margin-right: 64px;
	margin-bottom: 64px;
	padding: 16px 32px;
	font-size: 24px;
	border-radius: 4px;
	background: #fff;
	transition: 0.2s;
}
.teacher-nav button:hover {
	background: #eee;
}

.teacher-nav button.selected {
	background: var(--yellow-light);
}

.information-text h1 {
	font-size: 32px;
}

.student-list {
	font-size: 36px;
}

.student-list div {
	background: #eee;
	margin-bottom: 32px;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 4px;
}

.student-list span {
	padding: 32px 64px;
	display: inline-block;
}

.student-list .score {
	background: rgba(250, 250, 250, 0.2);
}

.student-list div:nth-child(4n-3), .quiz-list-item:nth-child(4n-3) {
	background: var(--green-light);
}

.student-list div:nth-child(4n-2), .quiz-list-item:nth-child(4n-2) {
	background: var(--blue-light);
}

.student-list div:nth-child(4n-1), .quiz-list-item:nth-child(4n-1) {
	background: var(--yellow-light);
}

.student-list div:nth-child(4n), .quiz-list-item:nth-child(4n) {
	background: var(--red-light);
}

.prompt {
	font-size: 32px;
}

.answer-display {
	padding: 64px;
	margin: 64px;
	background: #ddd;
	font-size: 32px;
}

.left-side {
	width: 70%;
	float: left;
}

.right-side {
	margin-left: 75%;
	width: 25%;
	background: #fff;
	padding: 64px;
}

.unanswered-students p, .answered-students p {
	font-size: 24px;
	margin-top: 16px;
}
.answered-students {
	margin-bottom: 64px;
}

.teacher .vote-gallery-container {
	margin-bottom: 0;
}

.teacher-quiz-view-control-buttons button {
	color: white;
	transition: 0.2s ease-in-out;
	margin-left: 64px;
	margin-bottom: 64px;
}
.teacher-quiz-view-control-buttons button:first-of-type {
	background: var(--blue-light);
}
.teacher-quiz-view-control-buttons button:last-of-type {
	background: var(--red-light);
}
.teacher-quiz-view-control-buttons button:first-of-type:hover {
	background: var(--blue-medium);
}
.teacher-quiz-view-control-buttons button:last-of-type:hover {
	background: var(--red-medium);
}

.teacher-quiz-view-control-buttons.voting-period button:first-of-type { /* end submissions */
	display: none;
}

.teacher-quiz-view-control-buttons.submission-period button:last-of-type { /* next question */
	display: none;
}

.teacher .vote-gallery-container .prompt, .teacher .vote-label {
	display: none;
}

.student-answers-container {
	font-size: 12px;
}

.quiz-create button:hover {
	background: #ccc;
}

.quiz-list-item {
	padding: 64px;
	border-radius: 4px;
	margin-bottom: 64px;
}

.quiz-list-item h2 {
	font-size: 64px;
}

.quiz-list-item h3 {
	font-size: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
	opacity: 0.5;
}

.quiz-list-item button {
	padding: 16px 32px;
	margin-right: 32px;
	font-size: 24px;
	border-radius: 4px;
	background: rgba(250, 250, 250, 0.7);
	transition: 0.2s ease-in-out;
}

.quiz-list-item button:hover {
	background: rgba(250, 250, 250, 1);
}

.quiz-question-card {
	background: #eee;
}

.card-prompt {
	display: flex;
	justify-content: normal;
	padding: 16px;
}

.question-type-selector {
	padding: 16px;
	display: flex;
	justify-content: normal;
}

.card-prompt input {
	margin-left: 20px;
	width: 100%;
}

.text-field {
	width: 100%;
	margin-left: 16px;
	font-size: 24px;
	outline: none;
}

[contenteditable=true]:empty:before {
	content: attr(placeholder);
	pointer-events: none;
	display: block;
	color: #aaa;
}

.text-field:focus {
	border-bottom: black 1px solid;
}

.question-type-dropdown {
	margin-left: 16px;
	font-size: 16px;
	padding: 4px;
}