.student {
	padding: 64px;
}

.student.quiz-started .podium {
	display: none;
}

.student.quiz-started .quiz-question-container {
	display: block;
}

.student.quiz-not-started .podium {
	display: block;
}

.student.quiz-not-started .quiz-question-container {
	display: none;
}

.student.quiz-not-started .vote-gallery-container {
	display: none;
}

.quiz-question, .vote-gallery-container {
	background: #fff;
	margin-bottom: 64px;
}

.vote-heading {
	opacity: 0.2;
}

.student .student-box {
	display: none;
}

.student-box {
	font-size: 24px;
}

.vote-submission {
	background: #eee;
	margin-top: 64px;
}

.vote-submission:first-child {
	margin-top: 0;
}

.vote-label label {
	font-size: 36px;
}

.vote-label {
	text-align: center;
}

.answer-box {
	font-size: 24px;
	padding: 64px;
	background: #ddd;
	font-weight: bold;
}

.vote-label {
	padding: 64px;
}

.prompt {
	padding: 64px;
}

.student>.hide {
	display: none;
}

.prompt h2 {
	font-size: 48px;
}

.quiz-short-answer, .vote-gallery, .quiz-draw {
	padding: 64px;
	padding-top: 0;
}

.quiz-short-answer input {
	padding: 32px;
	font-size: 32px;
	width: 50%;
	background: #e0e0e0;
}

.quiz-short-answer button, .quiz-draw button {
	padding: 32px;
	font-size: 32px;
	background: var(--green-light);
	transition: 0.2s;
}

.quiz-short-answer button:hover, .quiz-draw button:hover {
	background: var(--blue-light) !important;
}

.quiz-draw button {
	margin-right: 32px;
	margin-top: 64px;
	height: 100px;
	border-radius: 4px;
	background: #ddd;
}

.quiz-draw button.submit-drawing {
	background: var(--green-light);
}

.quiz-draw .brush-size-change {
	width: 100px;
}

.podium {
	padding: 32px;
	margin-bottom: 32px;
	background: #ddd;
}

.participant {
	background: #eee;
	margin: 16px;
	display: flex;
	justify-content: space-between;
	padding: 16px;
}