.home {

}

.home-button {
	display: inline-block;
	text-decoration: none;
	padding: 64px;
	margin: 64px;
	font-size: 32px;
	width: 500px;
	color: inherit;
	background: #ddd;
	transition: 0.2s;
}

.home-button:hover {
	background: #bbb;
}
