:root {
  --green-light: #66BF39;
  --blue-light: #45A3E5;
  --red-light: #FF3355;
  --yellow-light: #FFC00A;
  --green-medium: #26890C;
  --blue-medium: #1368CE;
  --red-medium: #E21B3C;
  --yellow-medium: #FFA602;
  --green-dark: #106B03;
  --blue-dark: #0542B9;
  --red-dark: #C60929;
  --yellow-dark: #D89E00;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button {
  border: 0;
  outline: 0;
  padding: 32px;
  font-size: 16px;
  cursor: pointer;
  background: #ddd;
}

input {
  border: 0;
  outline: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  margin: 0 16px;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ccc;
  height: 10px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background: #ccc;
  height: 10px;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background: var(--yellow-dark);
  margin-top: -10px;
  border-radius: 50%;
  transition: 0.12s ease-in-out;
  border: 9px solid var(--yellow-dark);
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: var(--yellow-light);
}

input[type="range"]::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background: #ccc;
  margin-top: -10px;
  border-radius: 50%;
}

[data-value="0"] input[type="range"]::-webkit-slider-thumb {
  background: var(--yellow-dark);
  border-color: var(--yellow-dark);
}
[data-value="0"] input[type="range"]:hover::-webkit-slider-thumb {
  background: var(--yellow-light);
}
[data-value="-1"] input[type="range"]::-webkit-slider-thumb {
  background: var(--red-dark);
  border-color: var(--red-dark);
}
[data-value="-1"] input[type="range"]:hover::-webkit-slider-thumb {
  background: var(--red-light);
}
[data-value="1"] input[type="range"]::-webkit-slider-thumb {
  background: var(--green-dark);
  border-color: var(--green-dark);
}
[data-value="1"] input[type="range"]:hover::-webkit-slider-thumb {
  background: var(--green-light);
}